@media screen and (max-width: 768px) {
  body {
    background-color: yellowgreen;
    color: rgb(74, 165, 130);
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}

img:hover {
  transform: scaleX(-1);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  transition: 2s all ease-in-out;
  box-shadow: 2px 5px 8px gray;
  border: 5px solid rgb(3, 0, 0);
  margin-bottom: 2.5rem;
}
@keyframes flip-it {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flip {
  animation: flip-it linear 5s infinite;
  width: 150px;
}
.packages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.third {
  width: 30%;
}
